In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('../CrabAgePrediction.csv')
df.head()
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]
X

,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight
0,F,1.4375,1.1750,0.4125,24.635715,12.332033,5.584852,6.747181
1,M,0.8875,0.6500,0.2125,5.400580,2.296310,1.374951,1.559222
2,I,1.0375,0.7750,0.2500,7.952035,3.231843,1.601747,2.764076
3,F,1.1750,0.8875,0.2500,13.480187,4.748541,2.282135,5.244657
4,I,0.8875,0.6625,0.2125,6.903103,3.458639,1.488349,1.700970
...,...,...,...,...,...,...,...,...
3888,F,1.4625,1.1375,0.3250,24.819987,11.651644,5.854172,6.378637
3889,F,1.5500,1.2125,0.4375,34.458817,15.450477,7.172423,9.780577
3890,I,0.6250,0.4625,0.1625,2.012815,0.765436,0.524466,0.637864
3891,I,1.0625,0.7750,0.2625,10.347568,4.507570,2.338834,2.976698
3892,I,0.7875,0.6125,0.2125,4.068153,1.502523,1.346601,1.417475

In [3]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
X.iloc[:, 0] = label_encoder.fit_transform(X.iloc[:, 0])
X

,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight
0,0,1.4375,1.1750,0.4125,24.635715,12.332033,5.584852,6.747181
1,2,0.8875,0.6500,0.2125,5.400580,2.296310,1.374951,1.559222
2,1,1.0375,0.7750,0.2500,7.952035,3.231843,1.601747,2.764076
3,0,1.1750,0.8875,0.2500,13.480187,4.748541,2.282135,5.244657
4,1,0.8875,0.6625,0.2125,6.903103,3.458639,1.488349,1.700970
...,...,...,...,...,...,...,...,...
3888,0,1.4625,1.1375,0.3250,24.819987,11.651644,5.854172,6.378637
3889,0,1.5500,1.2125,0.4375,34.458817,15.450477,7.172423,9.780577
3890,1,0.6250,0.4625,0.1625,2.012815,0.765436,0.524466,0.637864
3891,1,1.0625,0.7750,0.2625,10.347568,4.507570,2.338834,2.976698
3892,1,0.7875,0.6125,0.2125,4.068153,1.502523,1.346601,1.417475

In [4]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
#Argument should be categorial data feild


# Country column
# Assuming X is your dataset
# Define the ColumnTransformer with OneHotEncoder for the first column (index 0)
ct = ColumnTransformer(
    transformers=[
        ('sex', OneHotEncoder(drop='first'), [0])
    ], remainder='passthrough'
)

# Fit and transform the dataset
X = np.array(ct.fit_transform(X))
X

array([[ 0.        ,  0.        ,  1.4375    , ..., 12.3320325 ,
         5.5848515 ,  6.747181  ],
       [ 0.        ,  1.        ,  0.8875    , ...,  2.2963095 ,
         1.37495075,  1.5592225 ],
       [ 1.        ,  0.        ,  1.0375    , ...,  3.231843  ,
         1.60174675,  2.76407625],
       ...,
       [ 1.        ,  0.        ,  0.625     , ...,  0.7654365 ,
         0.52446575,  0.63786375],
       [ 1.        ,  0.        ,  1.0625    , ...,  4.5075705 ,
         2.33883375,  2.9766975 ],
       [ 1.        ,  0.        ,  0.7875    , ...,  1.5025235 ,
         1.34660125,  1.417475  ]])

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [14]:
from sklearn.ensemble import RandomForestRegressor
regresor=RandomForestRegressor(n_estimators=90, random_state=0)
regresor.fit(X_train,Y_train)
Y_pred=regresor.predict(X_test)

In [9]:
print(Y_test.shape, Y_pred.shape)

(779,) (779,)

# Accuracy Check

In [15]:
from sklearn.metrics import r2_score
r2=r2_score(Y_test,Y_pred)
print(r2)

0.5369340089570758